<% include ../partials/header %>


<h1>Sign In</h1>

<form class="sign-in-form" action="/sign-in" method="post">
  <input type="text" name="email" required placeholder="email">
  <input type="password" name="password" required placeholder>
  <button type="submit" id="sign-in-btn">Sign in</button>
</form>
<%= msg %>

<% include ../partials/footer %>
