<% include ../partials/header %>

<h1>Sign Up</h1>

<form class="sign-up-form" action="/sign-up" method="post">
  <input type="text" name="name" required placeholder="name">
  <input type="text" name="email" required placeholder="email">
  <input type="password" name="password" required placeholder>
  <button type="submit" id="sign-up-btn">Sign up</button>
</form>

<% include ../partials/footer %>
