<% include ../partials/header %>

<h1>User Profile</h1>

Name: <%= userProfile.name %>
Email: <%= userProfile.email %>

<a href="/users/<%= userProfile.id %>/edit"><button id="edit-btn">Edit Profile</button></a>

<% include ../partials/footer %>
